<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Edit <%= falcon.name %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript">
			// Javascript goes here
		</script>
	</head>
	<body>
		<div id="wrapper">
			<a href="/">Home</a>
			<hr>
		</div>
		<div id="falcon">
			<p>Name: <%= falcon.name %> </p>
			<p>Age: <%= falcon.age %></p>
			<p>Wingspan: <%= falcon.wingspan %>''</p>
			<form action="/falcons/destroy/<%= falcon._id %>" method="post">
				<button type="submit">Delete Falcon</button>
			</form>
			<hr>
		</div>
			<div id="edit_falcon">
				<form action="/falcons/<%= falcon._id %>" method="post">
					<label for="name">Name: </label><input type="text" name="name" />
					<label for="age">Age: </label> <input type="number" name="age" />
					<label for="wingspan">Wingspan: </label><input type="number" name="wingspan" />
					<button type="submit">Add Falcon</button>
				</form>
			</div>
		</div>

	</body>
</html>
