<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Dashboard</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript">
			// Javascript goes here
		</script>
	</head>
	<body>
		<div id="wrapper">
			<h1>Welcome to the Falcon's Nest!</h1>
			<div id="falcons">
				<% for (let i =-  0; i < falcons.length; i++){ %>
					<div class="falcon">
						<p>Name: <%= falcons[i].name %> </p>
						<p>Age: <%= falcons[i].age %></p>
						<p>Wingspan: <%= falcons[i].wingspan %>''</p>
						<a href="/falcons/<%= falcons[i]._id %>">View Falcon</a>
						<a href="/falcons/edit/<%= falcons[i]._id %>">Edit Falcon</a>
						<form action="/falcons/destroy/<%= falcons[i]._id %>" method="post">
							<button type="submit">Delete Falcon</button>
						</form>
					</div>
				<% } %>
			</div>
			<div links>
				<a href="/new">Add Falcon</a>
			</div>
		</div>
	</body>
</html>
